<!DOCTYPE html>
<html>
    <head>

        <style>
            .tile{
                display: flex;
                flex-direction: column;
                width: 300px;
            }
            .tile>img{
                height: 100px;
                width: 100px;
            }
            .tile>*{
                margin: 5px 0;
            }
        </style>

    </head>
    <body>

        <div id="showExams">
            <h1>Exams</h1>

            <% for(var i=0; i<exams.length; i++){ %>

                <div class="tile">
                    <img src="<%= exams[i].image %>" />
                    <p>name : <%= exams[i].name %></p>
                    <p>starting : <%= exams[i].starting %></p>
                    <p>Duration : <%= exams[i].Duration %> minutes</p>
                    
                    <a href="/college/exam/<%= exams[i].uniqid %>">Upload Questions</a>

                    <form action="/college" method="DELETE">
                        <button name="btn" value="<%= exams[i].uniqid %>">Delete</button>
                    </form>
                </div>

            <% } %>

        </div>
        <!-- <div id="createExams">

            <h1>Create Exams</h1>

            <form action="/dashboard" method="POST" enctype="multipart/form-data" >
                <select name="qualification">
                    <option value="ug">under graduate</option>
                    <option value="pg">post graduate</option>
                </select>
                <select name="participation">
                    <option value="coding">coding</option>
                    <option value="cyber">cyber security</option>
                </select>
                <input type="file" name="file" />
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button>upload</button>
            </form>

        </div> -->

    </body>
</html>